{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'internal/index.css'%}">
{% endblock css_files %}
{% block content %}
<div class="container">
    <div class="card">
      {% if request.user.is_authenticated %}
      <p class="welcome">Welcome,{{request.user.username}}</p> 
      <p class="subtitle">Ready to investigate your problem & solution?</p>
      {% else %}
      <p class="welcome">welcome,Guest!!</p>
      <p class="subtitle">Ready to investigate your problem & solution?</p>
    
      {% endif %}
      <div class="buttons">
        <button class="btn blue">Analyze Image</button>
        <button class="btn green"><a href="{% url 'education_news' %}">News</a></button>
        <button class="btn teal"><a href="{% url 'new_chat' %}">AI Tutor</a></button>
        <button class="btn purple"><a href="{% url 'internships' %}">Internship's</a></button>
        <button class="btn pink"><a href="{% url 'documentation' %}">Documentation</a></button>
      </div>
    </div>
  </div>
{% endblock content %}