{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'internal/internship.css'%}">
{% endblock css_files %}

{% block content %}
<section class="internship-search">
  <form class="search-form" method="POST">
      {% csrf_token %}

      <label for="skill">Skill</label>
      <input id="skill" type="text" name="skill" placeholder="Enter skill (python, ml)" required>

      <label for="description">Description</label>
      <textarea id="description" name="description" placeholder="Describe your skills"></textarea>

      <button class="search-btn" type="submit">Search</button>
  </form>
</section>
{% endblock content %}